<div class="container">
    <h4>Modifier la proposition de projet : {{propositionId}}</h4>
  
    <div *ngIf="proposition">   
      <form [formGroup]="propositionEditForm" (ngSubmit)="updateProposition()">
  
        <div class="form-group">
          <label for="nomproposition">Nom</label>
          <input formControlName="nomproposition" class="form-control" id="nomproposition"/>
        </div>
  
        <div class="form-group">
            <label for="descriptionprojet">Description</label>
            <input formControlName="descriptionprojet" class="form-control" id="descriptionprojet"/>
        </div>

        <div class="form-group">
            <label for="objectifprojet">Objectif</label>
            <input formControlName="objectifprojet" class="form-control" id="objectifprojet"/>
        </div>

        <div class="form-group">
            <label for="dateproposee">Date de fin | aaaa-mm-jj</label>
            <input formControlName="dateproposee" class="form-control" id="dateproposee"/>
        </div>

        <div class="form-group">
            <label for="imageproposee">URL de l'image</label>
            <input formControlName="imageproposee" class="form-control" id="imageproposee"/>
        </div>

        <div class="form-group">
            <label for="categorievoulue">Categorie</label>
            <input formControlName="categorievoulue" class="form-control" id="categorievoulue"/>
        </div>

          <button class="btn btn-primary">Modifier</button>
  
  
      </form>
    </div>
  
  </div>
  